html body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.btn-custom {
  background-color: #2ca3bf;
  color: white;
  border: none;
}

.btn-custom:hover {
  background-color: #7ad7ec;
  color: white;
}

/*
logo colors:
    dark-green: #2CA3BF
    light-green: #74E8CF
    light-blue: #7AD7EC
    dark-blue: #2A58A1
*/

.gradient-bg {
  background: linear-gradient(to bottom right, #3c75a6, #1d3b57);
  min-height: 100vh;
}

/* -------------------------------------------------Navbar Styling------------------------------------------------- */
.navbar-brand img {
  width: 40px;
  height: 40px;
}

/* -------------------------------------------------Carousel Styling------------------------------------------------- */
.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 20rem;
  background-color: rgba(119, 119, 119, 0.25);
}

/* -------------------------------------------------Card Styling------------------------------------------------- */
.card-icon {
  position: relative;
  padding-left: 5%;
  font-size: 5rem;
  color: #1d3b57;
}

.card-message .col-md-4 {
  margin-bottom: 1.5rem;
  text-align: left;
}
.card-message h5 {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  font-weight: 400;
}
.card-message .col-md-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.divider {
  margin: 5rem 0;
}

.card {
  width: 18rem;
}

/* -------------------------------------------------Excerpt Styling------------------------------------------------------------ */

/* places anchor at top of viewport */
.anchor {
  display: block;
  height: 115px;
  margin-top: -115px;
  visibility: hidden;
}

/* Centers viewport on the review row */
.review-row-anchor {
  display: block;
  height: 315px;
  margin-top: -315px;
  visibility: hidden;
}

.message-title {
  color: white;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}
.message-text {
  color: white;
}

/* -------------------------------------------------Projects styling------------------------------------------------- */

/* -------------------------------------------------Media Queries------------------------------------------------- */

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .message-title {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .message-title {
    margin-top: 0.5rem;
  }
}
