html body {
    height: 100%;
    margin: 0;
}

/*
logo colors:
    dark-green: #2CA3BF
    light-green: #74E8CF
    light-blue: #7AD7EC
    dark-blue: #2A58A1
*/

.gradient-bg {
    background: linear-gradient(to bottom right, #3C75A6, #1D3B57);
    min-height: 100vh;
  }

  .navbar-brand img {
    width: 40px;
    height: 40px;
}