html body {
  height: 100%;
  margin: 0;
}

/* Custom button */
.btn-custom {
  background-color: #2ca3bf;
  color: white;
}

/* Custom button on hover */
.btn-custom:hover {
  background-color: #7ad7ec;
  color: white;
}
.dropdown-toggle::after {
  content: none;
}

/*
logo colors:
    dark-green: #2CA3BF
    light-green: #74E8CF
    light-blue: #7AD7EC
    dark-blue: #2A58A1
*/

/* Page background */
.gradient-bg {
  background: linear-gradient(to bottom right, #3c75a6, #1d3b57);
  min-height: 100vh;
}

/* -------------------------------------------------Navbar Styling------------------------------------------------- */

/* Navbar logo */
.navbar-brand img {
  width: 2.5rem;
  height: 2.5rem;
}

/* -------------------------------------------------Carousel Styling------------------------------------------------- */

/* Adds bottom margin to preview carousel */
.preview {
  margin-bottom: 4rem;
}

/* Carousel contents */
/* TODO: Adjust bottom if needed once populated */
.carousel-caption {
  bottom: 3rem;
}

/* Preview carousel title */
.preview h1 {
  font-size: 1.75rem;
}

/* Preview carousel paragraphs */
.preview p {
  font-size: 0.75rem;
}

/* Carousel slide */
.carousel-item {
  height: 20rem;
  background-color: rgba(119, 119, 119, 0.25);
}

/* -------------------------------------------------Card Styling------------------------------------------------- */

/* Icon in about and review cards  */
i {
  position: relative;
  padding-left: 5%;
  font-size: 5rem;
  color: #1d3b57;
}

/* Card item */
.about .card {
  margin-bottom: 1.5rem;
  width: 18rem;
  border-radius: 0.75rem;
}

/* Card content */
.about .card-body {
  margin: 0 0.75rem;
}

/* Card title */
.about h5 {
  font-weight: 400;
}

/* Title for "About" sections */
.about .col-md-8 h2 {
  color: white;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/* "About" section text */
.about .col-md-8 p {
  color: white;
}

/* divider */
.divider {
  margin: 5rem 0;
}

/* ------------------------------------------------- Review Styling------------------------------------------------- */

/* Review card and carousel margins */
.review .col-md-4,
.col-md-8 {
  margin: 0.75rem 0;
}

/* TODO: 
    Adjust carousel-caption positioning if needed once populated
    Add styling for header title/text
*/

/* Review card and carousel radius */
.review .carousel-inner,
.card {
  border-radius: 1rem;
}

/* Carousel review text */
/* Note: If font-size stays the same, maybe create a utility class */
.review-text {
  font-size: 0.75rem;
  max-height: 9rem;
  overflow-y: auto;
  text-align: center;
}

/* Reviewer and date on review carousels and cards*/
.reviewer-date {
  font-size: 0.75rem;
  text-align: left;
}

/* -------------------------------------------------Anchor Styling------------------------------------------------------------ */

/* TODO: Check anchors to see if they go to the right scroll location after text addition */

/* places anchor at top of viewport */
.anchor {
  display: block;
  height: 7.188rem;
  margin-top: -7.188rem;
  visibility: hidden;
}

/* Centers viewport on the review row */
.review-row-anchor {
  display: block;
  height: 19.688rem;
  margin-top: -19.688rem;
  visibility: hidden;
}

/* -------------------------------------------------Project styling------------------------------------------------- */

/* Project section title */
/* Note: Consider creating utility class for title and text if "project" styling does not greatly differ from "about" styling */
.project h1 {
  color: white;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.05rem;
  text-align: left;
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
}

/* Project section text */
.project p {
  color: white;
  text-align: center;
}

/* Project section row */
.project .row {
  margin: 1rem 0;
}

/* Project section contact title */
.contact h1 {
  font-size: 1rem;
  text-decoration: none;
}

/* -------------------------------------------------Footer styling------------------------------------------------- */

/* Footer */
footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

/* Contact footer button */
.btn-contact {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: rgba(44, 163, 191, 0.5);
  border: none;
}

/*contact footer button icon */
.btn-contact i {
  font-size: 1.875rem;
  color: #7ad7ec;
  padding: 0;
}

/* Centers contact button/icon */
.btn-contact,
.btn-contact i {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contact footer button on hover/click */
.btn-contact.show,
.btn-contact:hover {
  background-color: #7ad7ec;
  color: white;
}

/*contact footer button icon on hover/click */
.btn-contact.show i,
.btn-contact:hover i {
  color: white;
}

/* -------------------------------------------------Media Queries------------------------------------------------- */
/* TODO: Double check after element population that nothing needs to be Changed/Added/Removed from here
@media (min-width: 62em) {
  
} */
